/* Set the margin and padding for the whole document */
* {
    margin: 0;
    padding: 0;
}

/* Set the font style for the document */
body, h1, h2 {
    font-family: Arial, sans-serif;
}

/* Set the style for the header */
h1 {
    text-align: center;
    background-color: #6f4e37;
    color: #fff;
    padding: 20px;
    margin: 0;
}

/* Set the style for the navigation links */
nav {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    width: 1000px;

}

button{
    text-decoration: none;
    color: #6f4e37;
    padding: 10px;
    border: 1px solid #6f4e37;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover{
     background-color: #6f4e37;
    color: #fff;
}


.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("AmmaarBgFinal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}  

.hero-text {
    
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav > a {
    text-decoration: none;
    color: #6f4e37;
    margin: 10px;
    padding: 10px;
    border: 1px solid #6f4e37;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #6f4e37;
    color: #fff;
}

/* Set the style for the content */
#index, #education, #experience, #hobbies, #achieve, #introduction, #image {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #6f4e37;
    display: flexbox;
}
#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
     width: 20%;
}



#education > ol, #experience > ol, #hobbies > ol {
    margin-left: 20px;
}

#education > ol  i, #experience > ol  i, #hobbies > ol  i {
    font-style: normal;
}
#hobbies  a {
    color: maroon;
    font-weight: bold;
    text-decoration: underline;
}
#hobbies > ul {
    list-style: none;
}

#hobbies > ul  li {
    margin-bottom: 10px;
}

#hobbies  ul > li::first-line {
    font-weight: bold;
}

#hobbies  ul > li > ul {
    margin-top: 5px;
    margin-left: 20px;
}

/* Set the style for the footer */
footer {
    background-color: #6f4e37;
    color: #fff;
    text-align: center;
    padding: 10px;
}
form {
    width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="submit"]:active {
    background-color: #3e8e41;
}

textarea {
    height: 150px;
}
table {
    border-color: antiquewhite;
    width: 100%;
    max-width: fit-content;
    margin: auto;
    font-size: 16px;
    text-align: center;
}
table  td > a {
    color: maroon;
    font-weight: bold;
    text-decoration: underline;
}
#introduction img ~ p{
    color: #6f4e37;
}
#hobbies h2 + p{
    color: #6f4e37;
}
#hobbies img{
    display: block;
    margin: 100px;
    border: black;
    padding: 60px;
    border-width: 30px;
}
#paragraph{
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 100%;
    row-gap: 100px;
    color: brown;
}

@media screen and (min-width: 1000px) {
    

    img {
        max-width: 70vw;
        height: 50vh;
    }

    body div {
        flex-direction: row;
        padding: 1rem 2rem;
    }

    body p {
        width: 50%;
        margin: auto;
        font-size: 1.5rem;
    } 
    body ul,ol {
        width: 100%;
        margin: auto;
        font-size: 1.5rem;
    } 
    table {
        text-align: left;
        max-width: 70%;
    }
    input[type="text"], input[type="email"], textarea {
        padding: 20px;
        margin-bottom: 15px;
        box-sizing: content-box;
    }
    .hero-image {
        height: 600px;
    } 
}

/* Desktop layout */
@media screen and (min-width: 1400px) {
    

    header {
        flex-direction: row;
        justify-content:space-between;
        padding: 1rem 1rem;
    }

    body {
        display: flexbox;
    }

    body p {
        width: 50%;
    } 
    table {
        text-align: right;
        max-width: 90%;
    }
    input[type="text"], input[type="email"], textarea {
        padding: 25px;
        margin-bottom: 20px;
        box-sizing: content-box;
    }
    .hero-image {
        height: 800px;
    } 
}
